@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
.navbar {
    background: #1E1142;
    width: 100vw;
    height: 15vh; /*ตอนแรก17*/
    display: flex;
    justify-content: right;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    
}

body{
    background-color: #E6E7FC;
}

.rule,.fact,.chat {
    background: #1E1142;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;  /*ตอนแรก250*/
    color: #D99BFF;
    text-decoration: none;
    margin-right: 7%;  /*ตอนแรก7*/
    margin-top: 4.5%;
}
.image-logo {
    margin-right: 60%;  /*ตอนแรก60*/
    background-attachment: fixed; 
}
.menu-img {
    display: flex;
    position: fixed;
    top: 3%;
    right: 3.5%;
}

.img-chat{
    width: 2.5vw;
    height: auto;
    margin-right: 42px;
}

.img-fact{
    width: 2.5vw;
    height: auto;
    margin-right: 53px;
    margin-left: 68px;
}

.img-rule{
    width: 2.5vw;  /*ตอนแรก2.2*/
    height: auto;
    margin: 0 62px;  /*ตอนกแรก0 95*/
} 

.fact_details{
    width: 1350px;
    height: 565px;
    border: solid 3px #331C72;
    padding: 5px;
    background: #331C72;
    border-radius: 20px;
    margin-top: 8.5%; 
    padding-top: 2%;
    text-align: left;
}

.fact_details h{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    color: #D99BFF;
    font-size: 150%;
    font-style: normal;
    margin-left: 4%;
}

.facts_a-j{
    width: 50%;
   /* background-color: rgb(0, 0, 0);*/
    display: flex;
    justify-content: left;
}

.a-j{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 150%;
    font-style: normal;
    color: #D99BFF;
    margin-left: 8%;
}

.facts_k-s{
    margin-top: -27.5%;
    width: 50%;
    /*background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: left;
    margin-left: 51.3%;
   
   
}

.k-s{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 150%;
    font-style: normal;
    color: #D99BFF;
}

.addfact
{
    background-color: #E6E7FC;
    border: 0;
    outline: 0;
    width: 1200px;
    height: 75px;
    margin-left: 4%;
    margin-top: 13%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 80px;
    border:1px solid #ffffff ;
    border-radius: 60px;
    font-size: 150%;
    font-weight: 400;
    font-family: "Kanit", sans-serif;
    color: #331C73;
}

::placeholder
{
    font-size: 100%;
    font-weight: 400;
    font-family: "Kanit", sans-serif;
    color: #331C73;
    opacity: 80%;
}

.sent-button{
    width: 2.5%;
    height: auto;
    display:flex;
    position: fixed;
    right: 14.5%;
    bottom: 12%;
    border-radius: 10%;
}

.output{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 150%;
    font-style: normal;
    color: #D99BFF;
    justify-content: left;
    margin-left: 46%;
    top: 57%;
    position: fixed;

}